:root, html[data-theme="dark"] {
    --primary-bg: #1a1a1a;
    --primary-txt: white;
}

html[data-theme="light"] {
    --primary-bg: white;
    --primary-txt: #1a1a1a;
}

html[data-theme="charcoal"] {
    --primary-bg: #3D3D3D;
    --primary-txt: #D6D6D6;
}

html[data-theme="navy"] {
    --primary-bg: #0B2545;
    --primary-txt: #CCDDF5;
}

html[data-theme="coffee"] {
    --primary-bg: #2A1913;
    --primary-txt: #ECDBD5;
}

body, .dropdown-menu, nav, .nav-link.active, .modal-content {
    background-color: var(--primary-bg) !important;
    color: var(--primary-txt) !important;
}

a, a:hover,
.dropdown-item,
.nav-link, .nav-link:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.input-group-text, .form-control, .form-control:focus {
    background-color: inherit;
    color: inherit;
/*    border: 0;
    border-radius: 0;*/
    border: 1px solid var(--primary-txt);
}

* {
    /*font-size: 1em;*/
    font-size: 0.98em;
}