@import "./colors.css";
@import "./responsive.css";

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  background-color: transparent;
  color: var(--btn-color);
  border-color: var(--btn-color);
  letter-spacing: 1px;
  border-width: 0.5px;
}

.btn:hover,
.btn.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-text);
  border-color: transparent;
}

::placeholder {
  color: var(--primary-txt) !important;
  opacity: 60% !important;
  letter-spacing: 1px !important;
}

.dropdown-menu {
  background-color: var(--primary-bg);
  border-color: var(--primary-txt);
}

.dropdown-item {
  color: var(--primary-txt);
  letter-spacing: 1px;
  font-size: small;
}

.dropdown-item:hover,
.dropdown-item.active {
  background-color: var(--btn-color);
  color: var(--primary-bg);
}

.dropdown-item.active .orange.mx-1,
.dropdown-item:hover .orange.mx-1,
.dropdown-item.active .green.mx-1,
.dropdown-item:hover .green.mx-1 {
  color: var(--primary-bg);
}

.between {
  display: flex;
  justify-content: space-between;
}

.form-control,
.form-control:focus {
  background-color: transparent;
  border: 0.5px solid var(--primary-txt);
  color: var(--primary-txt);
}

hr {
  border-width: 0.5px !important;
}

.badge {
  color: var(--btn-color);
  border: 0.5px solid var(--btn-color);
  font-weight: unset;
  letter-spacing: 1px;
  padding: 3px 7px;
}

.border-bottom {
  border-bottom-color: var(--primary-txt) !important;
}

::-webkit-scrollbar {
  background-color: var(--primary-bg);
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--btn-color);
}

#readme img {
  display: none;
}

#readme h1,
#readme h2,
#readme h3,
#readme h4,
#readme h5 {
  color: var(--readme-heading-color);
}

#readme a {
  color: var(--btn-color) !important;
}

#readme code {
  color: var(--readme-code-color) !important;
}

.non-btn,
.non-btn:hover {
  border: 0;
  background-color: var(--primary-bg);
  color: var(--btn-color);
  cursor: unset;
}

.red {
  color: var(--red);
  border-color: var(--red);
}

.btn.red:hover,
.btn.red.active {
  color: var(--btn-hover-text);
  background-color: var(--red);
  border-color: transparent;
}

.orange {
  color: var(--orange);
  border-color: var(--orange);
}

.btn.orange:hover,
.btn.orange.active {
  color: var(--btn-hover-text);
  background-color: var(--orange);
  border-color: transparent;
}

.yellow {
  color: var(--yellow);
  border-color: var(--yellow);
}

.btn.yellow:hover,
.btn.yellow.active {
  color: var(--btn-hover-text);
  background-color: var(--yellow);
  border-color: transparent;
}

.green {
  color: var(--green);
  border-color: var(--green);
}

.btn.green:hover,
.btn.green.active {
  color: var(--btn-hover-text);
  background-color: var(--green);
  border-color: transparent;
}

.blue {
  color: var(--blue);
  border-color: var(--blue);
}

.btn.blue:hover,
.btn.blue.active {
  color: var(--btn-hover-text);
  background-color: var(--blue);
  border-color: transparent;
}

.green {
  color: var(--green);
  border-color: var(--green);
}

.btn.green:hover,
.btn.green.active {
  color: var(--btn-hover-text);
  background-color: var(--green);
  border-color: transparent;
}

.purple {
  color: var(--purple);
  border-color: var(--purple);
}

.btn.purple:hover,
.btn.purple.active {
  color: var(--btn-hover-text);
  background-color: var(--purple);
  border-color: transparent;
}

.dropdown-item:hover .btn {
  color: var(--btn-hover-text);
}

.border-end {
  border-right: 0.5px solid var(--secondary-bg) !important;
}

.border-bottom {
  border-bottom: 0.5px solid var(--secondary-bg) !important;
}

.muted-label-center {
  margin: auto;
  opacity: 50%;
  font-size: small;
}

.muted-label {
  opacity: 50%;
  font-size: small;
}

.diff-content {
  font-family: monospace;
  font-size: small;
  white-space: pre-wrap;
  height: 78vh;
  overflow-y: auto;
}

.branch-item {
  border-bottom: 0.5px solid var(--secondary-bg);
  cursor: pointer;
  padding: 1px 20px;
  margin-bottom: 3px;
}

.branch-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-text);
  border-radius: 7.5px;
}

.file-item {
  padding: 3px 20px;
}

.file-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-text);
  border-radius: 7.5px;
}

.branch-item.active .btn {
  color: var(--btn-hover-text);
}

.diff-item {
  cursor: pointer;
  border-bottom: 0.5px solid var(--secondary-bg);
  padding: 1px 12px;
  margin-bottom: 2px;
}

.diff-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-text);
  border-radius: 7.5px;
}

.diff-item.active .btn {
  color: var(--btn-hover-text);
}

.ignore-item {
  border-bottom: 0.5px solid var(--secondary-bg);
}

.kanban-item {
  border-bottom: 0.5px solid var(--secondary-bg);
}

.log-item {
  border-bottom: 0.5px solid var(--secondary-bg);
  padding: 8px 14px;
  cursor: pointer;
}

.log-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-text);
  border-radius: 7.5px;
}

.log-item.active .btn {
  color: var(--btn-hover-text);
}

.stash-item {
  border-bottom: 0.5px solid var(--secondary-bg);
  padding: 5px 8px;
}

.tag-item {
  border-bottom: 0.5px solid var(--secondary-bg);
  margin-bottom: 2px;
  padding: 1px 14px;
}

.tag-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-text);
  border-radius: 7.5px;
}

.tag-item.active input {
  color: var(--btn-hover-text);
}

.tag-item.active .btn {
  color: var(--btn-hover-text);
}

.todo-item {
  border-bottom: 0.5px solid var(--secondary-bg);
}

.kanban-heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: lighter;
}

/* NEW */

.nav-custom {
  border-bottom: 0.5px dotted var(--secondary-bg);
  z-index: 99;
  height: 60px;
  width: 100%;
  top: 0;
  position: absolute;
  padding: 10px;
  display: flex;
}

.border-start {
  border-left: 0.5px solid var(--secondary-bg) !important;
}

body {
  margin-top: 60px;
}

@media screen and (max-width: 1000px) {
  .nav-custom {
    width: 85px;
    height: 100%;
    left: 0;
    border-right: 0.5px solid var(--secondary-bg);
  }

  .nav-custom .between,
  .nav-custom .d-flex,
  .row {
    flex-direction: column;
  }

  body {
    margin-left: 85px;
    margin-top: unset;
  }

  .todo-section {
    width: 100% !important;
  }

  .flex-75 {
    flex-direction: column;
    width: 100% !important;
    height: 40vh;
    overflow-y: auto;
    margin: 10px;
  }

  .w-25 {
    width: 100% !important;
    height: 40vh;
    overflow-y: auto;
  }

  .flex {
    flex-direction: column;
  }

  .log {
    height: 40vh !important;
    margin: 10px;
  }

  .file {
    height: 48vh !important;
    margin: 10px;
  }

  .branch-list {
    width: 100% !important;
    height: 40vh !important;
    overflow-y: auto;
  }

  .selected-branch {
    width: 100% !important;
    height: 50vh !important;
    overflow-y: auto;
  }
}

.todo-section {
  width: 33.3%;
  padding: 10px;
}

.flex-75 {
  display: flex;
  width: 75%;
}

.flex {
  display: flex;
}

.log {
  height: 85vh;
  overflow-y: auto;
}

.branch-list {
  width: 25%;
  margin: 10px;
}

.selected-branch {
  width: 75%;
  margin: 10px;
}
