:root,
html[data-theme="light"] {
  --primary-bg: #cccccc;
  --primary-txt: #1a1a1a;

  --secondary-bg: #b5b5b5;

  --btn-color: #522a52;
  --btn-hover-text: #cccccc;

  --red: #c93e3e;
  --orange: #bc7427;
  --yellow: #efef0c;
  --green: #5d915d;
  --blue: #4c4cb5;
  --purple: #8f3f8f;
}

html[data-theme="dark"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;

  --secondary-bg: #2f2f2f;

  --btn-color: #d19dd1;
  --btn-hover-text: #1a1a1a;

  --red: #d64b4b;
  --orange: #d18635;
  --yellow: #efef0c;
  --green: #5d915d;
  --blue: #4c4cb5;
  --purple: #8f3f8f;
}

html[data-theme="eggshell"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;

  --secondary-bg: #2f2f2f;

  --btn-color: hsl(67, 56%, 50%);
  --btn-hover-text: #1a1a1a;

  --red: #d64b4b;
  --orange: #d18635;
  --yellow: #efef0c;
  --green: #5d915d;
  --blue: #4c4cb5;
  --purple: #8f3f8f;
}

html[data-theme="pine"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;

  --secondary-bg: #2f2f2f;

  --btn-color: hsl(151, 42%, 50%);
  --btn-hover-text: #1a1a1a;

  --red: #d64b4b;
  --orange: #d18635;
  --yellow: #efef0c;
  --green: #5d915d;
  --blue: #4c4cb5;
  --purple: #8f3f8f;
}

html[data-theme="ocean"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;

  --secondary-bg: #2f2f2f;

  --btn-color: hsl(235, 38%, 70%);
  --btn-hover-text: #1a1a1a;

  --red: #d64b4b;
  --orange: #d18635;
  --yellow: #efef0c;
  --green: #5d915d;
  --blue: #4c4cb5;
  --purple: #8f3f8f;
}
