* {
  font-family: "Play";
}

:root,
html[data-theme="light"] {
  --primary-bg: #cccccc;
  --primary-txt: #1a1a1a;
  --btn-color: #1a1a1a;
  --btn-hover-text: #cccccc;
}

html[data-theme="dark"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;
  --btn-color: #cccccc;
  --btn-hover-text: #1a1a1a;
}

html[data-theme="scarlet-light"] {
  --primary-bg: #ea9599;
  --primary-txt: #1a1a1a;
  --btn-color: #1a1a1a;
  --btn-hover-text: #ea9599;
}

html[data-theme="scarlet-dark"] {
  --primary-bg: #582930;
  --primary-txt: #cccccc;
  --btn-color: #cccccc;
  --btn-hover-text: #582930;
}

html[data-theme="manila-light"] {
  --primary-bg: #c1b58a;
  --primary-txt: #1a1a1a;
  --btn-color: #1a1a1a;
  --btn-hover-text: #c1b58a;
}

html[data-theme="manila-dark"] {
  --primary-bg: #6a4c3f;
  --primary-txt: #cccccc;
  --btn-color: #cccccc;
  --btn-hover-text: #6a4c3f;
}

html[data-theme="mint-light"] {
  --primary-bg: #9eba75;
  --primary-txt: #1a1a1a;
  --btn-color: #1a1a1a;
  --btn-hover-text: #9eba75;
}

html[data-theme="mint-dark"] {
  --primary-bg: #415641;
  --primary-txt: #cccccc;
  --btn-color: #cccccc;
  --btn-hover-text: #415641;
}

html[data-theme="ocean-light"] {
  --primary-bg: #5e8a9f;
  --primary-txt: #1a1a1a;
  --btn-color: #1a1a1a;
  --btn-hover-text: #5e8a9f;
}

html[data-theme="ocean-dark"] {
  --primary-bg: #263380;
  --primary-txt: #cccccc;
  --btn-color: #cccccc;
  --btn-hover-text: #263380;
}

html[data-theme="lavender-light"] {
  --primary-bg: #bf85c8;
  --primary-txt: #1a1a1a;
  --btn-color: #1a1a1a;
  --btn-hover-text: #bf85c8;
}

html[data-theme="lavender-dark"] {
  --primary-bg: #5d2a5e;
  --primary-txt: #cccccc;
  --btn-color: #cccccc;
  --btn-hover-text: #5d2a5e;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  background-color: transparent;
  color: var(--btn-color);
  border-color: var(--btn-color);
  letter-spacing: 1px;
}

.btn:hover,
.btn.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-text);
  border-color: transparent;
}

::placeholder {
  color: var(--primary-txt) !important;
  opacity: 50% !important;
  letter-spacing: 1px !important;
}

.dropdown-menu {
  background-color: var(--primary-bg);
  border-color: var(--primary-txt);
}

.dropdown-item {
  color: var(--primary-txt);
  letter-spacing: 1px;
  font-size: small;
}

.dropdown-item:hover {
  background-color: var(--primary-txt);
  color: var(--primary-bg);
}

.between {
  display: flex;
  justify-content: space-between;
}

.form-control,
.form-control:focus {
  background-color: transparent;
  border-color: var(--primary-txt);
  color: var(--primary-txt);
}

hr {
  border-style: dotted !important;
}

.badge {
  color: var(--primary-txt);
  border: 1px solid var(--primary-txt);
  font-weight: unset;
  letter-spacing: 1px;
  padding: 3px 10px;
}

.border-bottom {
  border-bottom-color: var(--primary-txt) !important;
}

.hover:hover {
  border-bottom: 1px dotted var(--primary-txt);
}

.hover {
  border-bottom: 1px dotted var(--primary-bg);
}
