:root,
html[data-theme="light"] {
  --primary-bg: #E8D1B1;
  --primary-txt: #1a1a1a;

  --btn-color: #593D52;
  --btn-hover-text: #E8D1B1;
}

html[data-theme="dark"] {
  --primary-bg: #251922;
  --primary-txt: #E8D1B1;

  --btn-color: #A96570;
  --btn-hover-text: #E8D1B1;
}
