{% extends "base.html" %}
{% import "macros.html" as macros with context %}
{% block body %}
<title>CodeGarden</title>
<nav class="navbar navbar-expand-lg sticky-top">
	<div class="container-fluid">
		<span class="spinner-border spinner-border-sm" id="spinner" style="display: none;"></span>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav me-auto" id="nav">
				<li class="nav-item dropdown me-3">
					<a data-bs-toggle="dropdown" data-bs-target="#repos" class="nav-link dropdown-toggle" id="current">Select Repository</a>
					<div class="dropdown-menu" id="repos">
						<a onclick="createRepoPage()" class="dropdown-item text-success font-custom"><i class="bi bi-plus-lg"></i> New Repo</a>
						{% for i in repositories %}
						<a onclick="getRepo('{{ i.name }}')" class="dropdown-item">
							<span>{{ i.name }}</span>
							{% if i.diffs|length > 0 %}<span class="float-end"><i class="bi bi-circle text-primary"></i></span>{% endif %}
						</a>
						{% endfor %}
					</div>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="ms-2 btn btn-sm text-light" onclick="setLight()" id="dark"><i class="bi bi-sun"></i></a>
					<a class="ms-2 btn btn-sm text-dark" onclick="setDark()" id="light"><i class="bi bi-moon"></i></a>
				</li>
				<li class="nav-item">
					<a class="btn btn-sm text-secondary" onclick="settingsPage()"><i class="bi bi-gear"></i></a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div id="index" class="mt-2"></div>
{% endblock %}
