{% extends "base.html" %}
{% import "macros.html" as macros with context %}
{% block body %}
<title>{{ repo_.name }}</title>
<div class="row">
	<div class="col-6">
		<div class="pb-5 mb-5 font-monospace" style="border-bottom: 1px solid">
			<p class="fs-4 mb-4">Log</p>
			{% for i in repo_.log() %}
			<div>{{ i }}</div>
			{% endfor %}
		</div>
		<div>
			<p class="fs-4 mb-4">TODOs</p>
			{{ macros.add_todo_form(repo_) }}
			{% for i in repo_.todos %}
			<form method="POST" action="{{ url_for('todos.edit_todo', path=repo_.path, idx=loop.index0) }}" class="input-group">
				<a class="btn input-group-text text-danger" href="{{ url_for('todos.delete_todo', path=repo_.path, idx=loop.index0) }}"><i class="bi bi-x-lg"></i></a>
				<input type="text" name="description" class="form-control border-0 p-0" autocomplete="off" required value="{{ i }}">
			</form>
			{% endfor %}
		</div>
	</div>
	<div class="col-6 px-5">
		{% if not 'working tree clean' in repo_.status %}{{ macros.commit_form(repo_) }}{% endif %}
		<div style="white-space: pre-wrap;" class="font-monospace">{{ repo_.status }}</div>
	</div>
</div>

{% endblock %}
