{% extends "base.html" %}
{% import "macros.html" as macros with context %}
{% block body %}
<title>Repository: {{ repo_.name }}</title>
<div class="row">
	<div class="col-4">
		<a onclick="copyPath(); showCheck(this);" class="btn btn-custom">Copy Path <i id="copy" class="bi bi-clipboard"></i></a><br>
		<a onclick="reloadDiv('status'); showCheck(this);" class="btn btn-custom mt-4">Changes <i class="bi bi-arrow-clockwise"></i></a>
		<div style="" id="status" class="mt-2">
			{% for i in repo_.status %}
			{{ macros.change_item(i, repo_, loop.index0) }}
			{% endfor %}
			{% if repo_.status | length > 0 %}{{ macros.commit_form(repo_) }}{% endif %}
		</div>
		<a onclick="reloadDiv('log'); showCheck(this);" class="btn btn-custom mt-4">Log <i class="bi bi-arrow-clockwise"></i></a>
		<div id="log" class="mt-2">
			{% for i in repo_.log() %}
			{{ macros.log_item(i) }}
			{% endfor %}
		</div>
		<a onclick="reloadDiv('todos'); showCheck(this);" class="btn btn-custom mt-4">TODOs <i class="bi bi-arrow-clockwise"></i></a>
		<div id="todos" class="mt-2">
			{{ macros.add_todo_form(repo_) }}
			{% for i in repo_.todos %}
			{{ macros.todo_item(i, repo_, loop.index0) }}
			{% endfor %}
			{% if repo_.any_done %}
			<a class="btn btn-sm btn-outline-warning mt-3" onclick="clearCompleted('{{ repo_.name }}')"><i class="bi bi-x"></i> Clear Completed</a>
			{% endif %}
		</div>
		<a onclick="reloadDiv('ignore'); showCheck(this);" class="btn btn-custom mt-4">Ignored <i class="bi bi-arrow-clockwise"></i></a>
		<div id="ignore" class="mt-2">
			{% for i in repo_.ignored %}
			{{ macros.ignore_item(i, repo_, loop.index0) }}
			{% endfor %}
		</div>
		<a onclick="reloadDiv('branches'); showCheck(this);" class="btn btn-custom mt-4">Branches <i class="bi bi-arrow-clockwise"></i></a>
		<div id="branches" class="mt-2">
			<form method="POST" action="{{ url_for('repos.create_branch', name=repo_.name) }}">
				<input type="text" name="branch_name" class="form-control" autocomplete="off" placeholder="New Branch" required>
			</form>
			{% for i in repo_.branches %}
			{{ macros.branch_item(i, repo_, loop.index0) }}
			{% endfor %}
		</div>
		<input value="{{ repo_.path }}" id="copyThis" style="display: none;">
	</div>
	<div class="col-8">
		<a id="readmeBtn" class="invisible font-custom fs-5 hover" onclick="reloadDiv('diff'); $(this).addClass('invisible')"><i class="bi bi-eye"></i> README</a>
		<div id="diff" class="p-3">{{ repo_.readme | safe }}</div>
	</div>
</div>
{% endblock %}
