{% extends "base.html" %}
{% import "macros.html" as macros with context %}
{% block body %}
<title>{{ repo_.name }}</title>
<input id="repoPath" value="{{ repo_.path }}" style="display: none;">
<div class="pb-5 text-center">
	<div class="fs-1">{{ repo_.name }}</div>
	<div>
		<a href="{{ url_for('repos.repo', name=repo_.name) }}" class="btn btn-outline-primary"><i class="bi bi-arrow-clockwise"></i></a>
		<a onclick="copyPath()" class="btn btn-outline-secondary"><i id="copyIcon" class="bi bi-clipboard"></i></a>
	</div>
</div>
<div class="row mb-3">
	<div class="col-6">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" data-bs-toggle="tab" data-bs-target="#status">Status</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-bs-toggle="tab" data-bs-target="#log">Log</a>
			</li>
		</ul>
		<div class="tab-content font-monospace">
			<div class="tab-pane active p-5" id="status">
				{% if not 'working tree clean' in repo_.git(['git', 'status']) %}
				{{ macros.commit_form(repo_) }}
				{% endif %}
				<div style="white-space: pre-wrap;">{{ repo_.git(['git', 'status']) }}</div>
			</div>
			<div style="white-space: pre-wrap;" class="tab-pane p-5" id="log">{{ repo_.git(['git', 'log', '-5']) }}</div>
		</div>
	</div>
	<div class="col-6">
		{{ macros.create_todo_form(repo_) }}
		{% for i in repo_.get_todos() %}
		{{ macros.todo_card(i, loop.index, repo_) }}
		{% endfor %}
		<a class="btn btn-sm btn-outline-secondary w-100" href="{{ url_for('todos.clear_todos', name=repo_.name) }}"><i class="bi bi-dash-circle"></i> Clear Completed</a>
	</div>
</div>
<a onclick="toggleDiv('deleteRepo')" class="btn btn-sm btn-outline-danger w-100"><i class="bi bi-trash3"></i> Delete Repo</a>
<a href="{{ url_for('repos.delete_repo', name=repo_.name) }}" class="btn btn-sm text-danger w-100" id="deleteRepo" style="display: none;">Delete Repo?</a>

<div class="modal" id="createBranch">
    <div class="modal-dialog">
        <div class="modal-content p-3">
        	{{ macros.create_branch_form(repo_) }}
        </div>
    </div>
</div>

{% endblock %}