$navbar-bg: desaturate(#1B998B, 30%);
$navbar-txt: invert($navbar-bg);
$body-bg: lighten($navbar-bg, 50%);
$body-txt: invert($body-bg);

a, a:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

@mixin font-custom {
    letter-spacing: 5px;
    text-transform: uppercase;
}

@mixin border-custom {
    border: 1px solid $body-txt;
}

::placeholder {
    font-style: italic;
    opacity: 50%;
}

.font-custom, .nav-item, ::placeholder { @include font-custom; }
.border-custom { @include border-custom; }

.navbar, .btn-custom, .dropdown-item:hover {
    background-color: $navbar-bg;
    color: $navbar-txt;
}

body, .input-custom, .modal-content, .card, .badge-custom, .dropdown-menu, .btn-custom:hover {
    background-color: $body-bg;
    color: $body-txt;
}

.card { border:none; }
.card-body {
    @include border-custom;
    border-radius: 5px;
}

.btn-custom {
    @include font-custom;
    @include border-custom;
    font-size: 0.9em;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}

.badge-custom {
    @include font-custom;
    @include border-custom;
    font-size: 0.8em;
    padding: 3px 15px;
    border-radius: 10px;
}

.input-custom {
    @include border-custom;
    padding: 5px 10px;
    border-radius: 5px;
}

.list-unstyled li { margin-bottom: 30px; }