:root {
    --nav-bg: white;
    --nav-txt: black;
    --body-bg: black;
    --body-txt: white;
}

.navbar, .badge-custom, .btn-custom, .todo-list-item:hover {
    background-color: var(--nav-bg) !important;
    color: var(--nav-txt) !important;
}

body, .card, .modal-content, .form-control {
    background-color: var(--body-bg) !important;
    color: var(--body-txt) !important;
}

.todo-list-item {
    padding: 5px;
    border-radius: 5px;
}

.spinner-border {
    width: 1em;
    height: 1em;
}

.card-body {
    border: 1px solid var(--body-txt) !important;
    border-radius: 10px;
    margin-top: 25px;
}

.link, .link:hover {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

.Planning {
    background-color: #db7d12;
}

.Released {
    background-color: #723cc2;
}

.Archived {
    background-color: #1d5e8a;
}

.Paused {
    background-color: gray;
}

.Active {
    background-color: green;
}

.bg-danger {
    color: white;
}