{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>ProjectManager | Home</title>
{% if not current_user.is_anonymous %}
{{ macros.project_create_form() }}
<div class="row mt-3">
  {% for i in current_user.projects %}
  {{ macros.project_card(i) }}
  {% endfor %}
</div>
{% else %}
<div class="text-center opacity-25 font-custom" style="font-size:3em">
  <div class="bi bi-person-fill" style="font-size:3em"></div>
  <span>
    <a data-bs-toggle="modal" data-bs-target="#loginModal" class="fw-bold">Log In</a> or
    <a data-bs-toggle="modal" data-bs-target="#signupModal" class="fw-bold">Sign Up</a>
  </span>
</div>
{% endif %}
{% endblock %}