{% macro project_card(project) %}
<div class="card col-xl-6 border-0">
    <div class="card-body mb-4">
        <a class="fw-bold" href="{{ url_for('project', id_=project.id) }}"><i class="bi bi-code-slash"></i> {{ project.name }}</a>
        <span class="float-end fw-bold"><i class="bi bi-check-all text-success"></i> {{ project.get_todos(filter_='not done').count() }}</span>
        <div class="mt-3">
            <a onclick="toggleDiv('deleteProject' + {{ project.id }})" class="text-danger"><i class="bi bi-trash2"></i></a>
            <a onclick="deleteProject({{ project.id }})" class="text-danger font-custom" id="deleteProject{{ project.id }}" style="display: none">delete?</a>
        </div>
    </div>
</div>
{% endmacro %}

{% macro todo_card(todo) %}
<div class="{% if todo.done %}text-decoration-line-through opacity-25{% endif %} p-2 border-bottom" style="border-color: inherit !important">
    <a onclick="markTodo({{ todo.id }})" class="me-2 bi bi-check-lg {% if todo.done %}text-success{% else %}text-secondary{% endif %}"></a>
    {% if not todo.done %}
    <a onclick="commitTodo({{ todo.id }})" class="bi bi-file-earmark-diff me-2"></a>
    <input class="input-hidden col-10" value="{{ todo.task }}" autocomplete="off" id="editTodo{{ todo.id }}" onchange="editTodo({{ todo.id }})">
    {% else %}
    <span>{{ todo.task }}</span>
    {% endif %}
    <div class="float-end">
        <a onclick="toggleDiv('deleteTodo' + {{ todo.id }})" class="text-danger"><i class="bi bi-trash2"></i></a>
        <a onclick="deleteTodo({{ todo.id }})" class="text-danger font-custom" id="deleteTodo{{ todo.id }}" style="display: none">delete?</a>
    </div>
</div>
{% endmacro %}

{% macro add_project_form() %}
<form onsubmit="event.preventDefault(); addProject();" class="input-group">
    <input autocomplete="off" class="input-custom flex-grow-1" id="filepath" placeholder="filepath" onchange="suggestName()">
    <input autocomplete="off" class="input-custom" id="name" placeholder="Name">
    <button type="submit" class="btn-custom"><i class="bi bi-plus-lg"></i> add project</button>
</form>
{% endmacro %}

{% macro add_todo_form(project) %}
<form onsubmit="event.preventDefault(); addTodo({{ project.id }});" class="input-group">
    <input autocomplete="off" class="input-custom flex-grow-1" id="task" placeholder="Task">
    <button type="submit" class="btn-custom"><i class="bi bi-plus-lg"></i> add todo</button>
</form>
{% endmacro %}

{% macro readme_form(project, class='') %}
<form onsubmit="event.preventDefault(); saveReadme({{ project.id }});" class="{{ class }}">
    <textarea onkeyup="previewReadme()" class="input-custom w-100 mb-3" style="white-space: pre-wrap" rows="15" id="readme">{{ project.get_readme() }}</textarea>
    <button type="submit" class="btn-custom w-100"><i class="bi bi-save"></i> save</button>
</form>
{% endmacro %}