<!--suppress ALL-->
{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>{{ project.name }}</title>
<div id="allProjects">
  <input autocomplete="off" class="input-custom fw-bold text-center" value="{{ project.name }}" placeholder="Name" style="font-size:2em" onchange="projectEdit({{ project.id }})" id="projectName{{ project.id }}">
  <select autocomplete="off" class="input-custom text-light w-100 text-center m-2" style="background-color:{{ project.get_status()[1] }}" onchange="projectEdit({{ project.id }})" id="status{{ project.id }}">
    {% set status_options = ['Active', 'Released (Archived)', 'Released (Maintained)', 'Planning', 'Paused'] %}
    <option value="Select Status">Select Status</option>
    {% for i in status_options %}
    <option value="{{ i }}" {% if i== project.status %}selected{% endif %}>{{ i }}</option>
    {% endfor %}
  </select>
  <p class="badge text-primary mx-2">{{ '%s TODO(S)' % project.get_undone_todos() }}</p>
  {% for i in project.todos %}
  {{ macros.todo_list_item(i) }}
  {% endfor %}
  {{ macros.todo_create_form(project) }}
  <textarea autocomplete="off" class="input-custom" placeholder="Description" rows="5" onchange="projectEdit({{ project.id }})" id="descrip{{ project.id }}">{{ project.descrip }}</textarea>
  <input autocomplete="off" class="input-custom" value="{{ project.github_url }}" placeholder="Github_url" onchange="projectEdit({{ project.id }})" id="github_url{{ project.id }}">
  <input autocomplete="off" class="input-custom" value="{{ project.tools }}" placeholder="Tools" onchange="projectEdit({{ project.id }})" id="tools{{ project.id }}">
  <a><p class="btn btn-outline-danger w-100 my-5">Delete Project</p></a>
</div>
{% endblock %}