{% macro repo_card(repo) %}
<div class="col-xl-12">
    <div class="p-2 mb-2 border-bottom d-flex">
        <div class="me-3 pe-3 border-end">
            <a onclick="pinRepo({{ repo.id }})" class="btn btn-sm text-warning btn-outline-warning"><i class="bi bi-star{% if repo.pinned %}-fill{% endif %}"></i></a>
            <a onclick="toggleDiv('editRepo' + {{ repo.id }})" class="btn btn-sm btn-outline-secondary"><i class="bi bi-pen"></i></a>
            <a onclick="toggleDiv('deleteRepo' + {{ repo.id }})" class="btn btn-sm text-danger btn-outline-danger"><i class="bi bi-trash2"></i></a>
            <a onclick="deleteRepo({{ repo.id }})" class="text-danger font-custom" id="deleteRepo{{ repo.id }}" style="display: none">Delete?</a>
        </div>
        <a class="fw-bold" href="{{ url_for('repos.repo', id_=repo.id) }}"><i class="bi bi-code-slash"></i> {{ repo.name }}</a>
    </div>
    <div style="display: none" id="editRepo{{ repo.id }}">
        {{ edit_repo_form(repo) }}
    </div>
</div>
{% endmacro %}

{% macro todo_card(todo) %}
<div class="col-xl-12 {% if todo.done %}opacity-25{% endif %}">
    <div class="p-3 mb-3">
        {% if not todo.done %}
        <input required class="form-control col-10" value="{{ todo.task }}" autocomplete="off" id="editTodo{{ todo.id }}" onchange="editTodo({{ todo.id }})">
        {% else %}
        <span>{{ todo.task }}</span>
        {% endif %}
        <div class="mt-2">
            <a onclick="markTodo({{ todo.id }})" class="me-2 bi bi-check-lg {% if todo.done %}text-success{% else %}text-secondary{% endif %}"></a>
            {% if not todo.done %}
            <a onclick="commitTodo({{ todo.id }})" class="bi bi-file-earmark-diff me-2"></a>
            {% endif %}
            <a onclick="toggleDiv('noteFor' + {{ todo.id }})" class="bi bi-sticky me-2 {% if todo.note %}text-primary{% endif %}"></a>
            <a onclick="toggleDiv('deleteTodo' + {{ todo.id }})" class="text-danger me-2"><i class="bi bi-trash2"></i></a>
            <a onclick="deleteTodo({{ todo.id }})" class="text-danger font-custom" id="deleteTodo{{ todo.id }}" style="display: none">Delete?</a>
        </div>
        <textarea onchange="editTodo({{ todo.id }})" placeholder="Note" rows="20" class="mt-2 form-control w-100" id="noteFor{{ todo.id }}" style="display: none">{{ todo.note or '' }}</textarea>
    </div>
</div>
{% endmacro %}

{% macro import_repo_form() %}
<form class="input-group" method="POST" action="{{ url_for('repos.import_repo') }}">
    <input required autocomplete="off" class="form-control flex-grow-1" name="filepath" placeholder="Filepath">
    <button type="submit" class="btn btn-sm btn-outline-success"><i class="bi bi-plus-lg"></i> Import Repo</button>
</form>
{% endmacro %}

{% macro new_repo_form() %}
<form class="input-group" method="POST" action="{{ url_for('repos.make_new_repo') }}">
    <input required autocomplete="off" class="form-control" name="filepath" placeholder="Filepath">
    <input required autocomplete="off" class="form-control" name="name" placeholder="Name">
    <button type="submit" class="btn btn-sm btn-outline-success"><i class="bi bi-plus-lg"></i> Create Repo</button>
</form>
{% endmacro %}

{% macro edit_repo_form(repo) %}
<form class="input-group" method="POST" action="{{ url_for('repos.edit_repo', id_=repo.id) }}">
    <input required autocomplete="off" class="form-control" name="filepath" placeholder="Filepath" value="{{ repo.filepath }}">
    <input required autocomplete="off" class="form-control" name="name" placeholder="Name" value="{{ repo.name }}">
    <button type="submit" class="btn btn-sm btn-outline-secondary"><i class="bi bi-pen"></i> Edit Repo</button>
</form>
{% endmacro %}

{% macro add_todo_form(repo) %}
<form onsubmit="event.preventDefault(); addTodo({{ repo.id }});" class="input-group">
    <input required autocomplete="off" class="form-control flex-grow-1" id="task" placeholder="Task">
    <button type="submit" class="btn btn-sm btn-outline-success"><i class="bi bi-plus-lg"></i> Add TODO</button>
</form>
{% endmacro %}

{% macro readme_form(repo, class='') %}
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

<form class="{{ class }}" method="POST" action="{{ url_for('repos.save_readme', id_=repo.id) }}">
    <button class="btn btn-outline-success w-100 mb-3"><i class="bi bi-save"></i> Save</button>
    <textarea class="w-100 h-100" name="readme">{{ repo.get_readme() }}</textarea>
</form>

<script>
    const editor = new EasyMDE({
        placeholder: 'README',
        autofocus: true
    }); 
</script>
{% endmacro %}