@import "./colors.css";

* {
  font-family: "Roboto";
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.dropdown-menu,
.dropdown-item {
  background-color: var(--primary-bg);
  color: var(--primary-txt);
}

.dropdown-menu {
  border-color: var(--btn-color);
}

.dropdown-item {
  letter-spacing: 1.5px;
  font-size: small;
  cursor: pointer;
}

.form-control:focus {
  background-color: transparent;
  color: var(--primary-txt);
}

.form-control {
  background-color: transparent;
  color: var(--primary-txt);
  border: 1px solid var(--secondary-bg);
  font-style: italic;
}

.nav-custom {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--secondary-bg);
  display: flex;
  top: 0;
  position: absolute;
  z-index: 10;
  padding: 20px;
}

.body {
  margin-top: 70px;
  padding: 20px;
  height: 90vh;
}

.btn {
  border-color: var(--btn-color);
  color: var(--btn-color);
  background-color: transparent;
  margin: 1px;
  letter-spacing: 1.5px;
}

.btn:hover,
.btn.active,
.dropdown-item.active,
.dropdown-item:hover {
  border-color: transparent;
  color: var(--btn-hover-txt) !important;
  background-color: var(--btn-color);
}

.between {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.divider {
  border: 1px solid var(--secondary-bg);
  margin: 0px 10px;
}

.inner {
  height: 99%;
  width: 99%;
  margin: auto;
  /* overflow-y: auto; */
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--btn-color);
  cursor: pointer;
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background-color: var(--primary-bg);
}

.col-50 {
  width: 50%;
  overflow-y: auto;
  padding: 10px;
  height: 85vh;
}

.col-25 {
  width: 25%;
  overflow-y: auto;
  padding: 10px;
}

.col-75 {
  width: 75%;
  padding: 10px;
  overflow-y: auto;
}

.col-33 {
  width: 33.3%;
  padding: 10px;
}

.diff-item {
  padding: 2px 15px;
  font-size: small;
  background-color: var(--secondary-bg);
  margin-bottom: 10px;
  border-radius: 7.5px;
}

.todo-item {
  padding: 10px;
  font-size: small;
  background-color: var(--secondary-bg);
  margin-bottom: 10px;
  border-radius: 7.5px;
}

.log-item {
  padding: 10px 20px;
  background-color: var(--secondary-bg);
  margin-bottom: 10px;
  border-radius: 7.5px;
}

.hunk-item {
  display: flex;
  font-family: monospace;
  font-size: small;
  margin-bottom: 10px;
}

.file-item {
  padding: 3px 20px;
  background-color: var(--secondary-bg);
  margin-bottom: 10px;
  border-radius: 7.5px;
}

.comparison-item {
  padding: 5px 20px;
  display: flex;
  background-color: var(--secondary-bg);
  margin-bottom: 10px;
  border-radius: 7.5px;
}

.branch-item {
  padding: 2px 20px;
  background-color: var(--secondary-bg);
  margin-bottom: 10px;
  border-radius: 7.5px;
}

.branch-item.active,
.file-item.active,
.log-item.active,
.diff-item.active {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

.active .btn {
  color: var(--btn-hover-txt) !important;
}

.heading {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.badge-custom {
  padding: 1px 5px;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  border-radius: 10px;
  font-size: small;
}

.muted-text {
  opacity: 50%;
  margin: auto;
  font-size: small;
}

::placeholder {
  opacity: 50% !important;
  color: var(--primary-txt) !important;
}

.badge {
  color: var(--btn-color);
  border: 0.5px solid var(--btn-color);
  font-weight: unset;
  letter-spacing: 1px;
  padding: 3px 7px;
}

.btn.red {
  color: var(--red);
}

.btn.orange {
  color: var(--orange);
}

.btn.orange.active {
  background-color: var(--orange);
  color: var(--primary-txt);
}

.btn.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.orange {
  color: var(--orange);
}

.green {
  color: var(--green);
}

.mini-top {
  display: none;
  justify-content: space-between;
  padding: 15px 20px;
  margin-left: 90px;
  font-size: small;
}

.hide-on-mini {
  display: unset;
}

.show-on-mini {
  display: none;
}

#readme img {
  display: none;
}

.spinner-border {
  color: var(--btn-color);
}

.repo-item.active,
.repo-item:hover {
  background-color: var(--btn-color);
  color: var(--btn-hover-txt);
}

.repo-item {
  padding: 1px 15px;
  border-radius: 5px;
  display: flex;
  font-size: 0.875rem;
}

.repo-items {
  height: 80vh;
  overflow-y: auto;
}

.repo-item:hover .orange {
  color: var(--btn-hover-txt);
}

.code-scroll {
  height: 76vh;
  overflow-y: auto;
  /* border-bottom: 0.5px solid; */
}

@media screen and (max-width: 1427px) {
  .nav-custom {
    height: 100%;
    width: 80px;
    left: 0;
    border-right: 1px solid var(--secondary-bg);
  }

  .body {
    margin-top: unset;
    margin-left: 80px;
    padding: 5px;
    height: 93vh;
  }

  .nav-custom .between {
    flex-direction: column;
  }

  .nav-custom .dropdown-item.between {
    flex-direction: unset;
  }

  .nav-custom .btn {
    width: 100%;
  }

  .btn.abbreviate span {
    display: none;
    margin: 0 !important;
  }

  .flex {
    flex-direction: column;
  }

  .divider {
    margin: 10px 0px !important;
  }

  .col-25,
  .col-75,
  .col-50 {
    width: 96% !important;
  }

  .col-25 {
    height: 31vh;
  }

  .col-50 {
    height: 43vh !important;
  }

  .col-75 {
    height: 60vh;
  }

  .col-33 {
    width: 100% !important;
  }

  .mini-top {
    display: flex !important;
  }

  .show-on-mini {
    display: unset !important;
  }

  .hide-on-mini {
    display: none !important;
  }

  .code-scroll {
    height: 42vh;
  }
}
