:root,
html[data-theme="light"] {
  --primary-bg: #cccccc;
  --primary-txt: #1a1a1a;

  --secondary-bg: #c4c4c4;
  --orange: #9a5500;
  --red: #a32919;
  --green: #20763d;

  --btn-color: #4c3a7b;
  --btn-hover-txt: #cccccc;
}

html[data-theme="dark"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;

  --secondary-bg: #202020;
  --orange: #c97918;
  --red: #c94f3f;
  --green: #74b577;

  --btn-color: #b88dd8;
  --btn-hover-txt: #1a1a1a;
}

html[data-theme="coffee"] {
  --primary-bg: #1c1414;
  --primary-txt: #cccccc;

  --secondary-bg: #251b1b;
  --orange: #c97918;
  --red: #c94f3f;
  --green: #74b577;

  --btn-color: #c19758;
  --btn-hover-txt: #1a1a1a;
}

html[data-theme="forest"] {
  --primary-bg: #0f150e;
  --primary-txt: #cccccc;

  --secondary-bg: #141c13;
  --orange: #c97918;
  --red: #c94f3f;
  --green: #74b577;

  --btn-color: #77bc8b;
  --btn-hover-txt: #1a1a1a;
}

html[data-theme="orchid"] {
  --primary-bg: #12121e;
  --primary-txt: #cccccc;

  --secondary-bg: #181829;
  --orange: #c97918;
  --red: #c94f3f;
  --green: #74b577;

  --btn-color: #b96c6c;
  --btn-hover-txt: #1a1a1a;
}

html[data-theme="cotton-candy"] {
  --primary-bg: #b7adad;
  --primary-txt: #1a1a1a;

  --secondary-bg: #b0a5a5;
  --orange: #9a5500;
  --red: #a32919;
  --green: #20763d;

  --btn-color: #883956;
  --btn-hover-txt: #cccccc;
}

html[data-theme="manila"] {
  --primary-bg: #d6cfa7;
  --primary-txt: #1a1a1a;

  --secondary-bg: #c9c29c;
  --orange: #9a5500;
  --red: #a32919;
  --green: #20763d;

  --btn-color: #356147;
  --btn-hover-txt: #cccccc;
}

html[data-theme="lavender"] {
  --primary-bg: #a9b9d5;
  --primary-txt: #1a1a1a;

  --secondary-bg: #9eadc8;
  --orange: #9a5500;
  --red: #a32919;
  --green: #20763d;

  --btn-color: #2e3f7d;
  --btn-hover-txt: #cccccc;
}
