:root,
html[data-theme="light"] {
  --primary-bg: hsl(19 30 80);
  --primary-txt: #1a1a1a;

  --secondary-bg: hsl(18, 16%, 69%);
  --orange: #9a5500;
  --red: #a32919;
  --green: #20763d;

  --btn-color: hsl(298 33 37);
  --btn-hover-txt: #cccccc;
}

html[data-theme="orchard"] {
  --primary-bg: hsl(195 7 80);
  --primary-txt: #1a1a1a;

  --secondary-bg: hsl(197, 4%, 65%);
  --orange: #9a5500;
  --red: #a32919;
  --green: #20763d;

  --btn-color: hsl(334 83 27);
  --btn-hover-txt: #cccccc;
}

html[data-theme="green-tea"] {
  --primary-bg: hsl(3 39 80);
  --primary-txt: #1a1a1a;

  --secondary-bg: hsl(4, 21%, 69%);
  --orange: #9a5500;
  --red: #a32919;
  --green: #20763d;

  --btn-color: hsl(112 13 36);
  --btn-hover-txt: #cccccc;
}

html[data-theme="summer-blue"] {
  --primary-bg: hsl(36 74 80);
  --primary-txt: #1a1a1a;

  --secondary-bg: hsl(36, 40%, 67%);
  --orange: #9a5500;
  --red: #a32919;
  --green: #20763d;

  --btn-color: hsl(215 51 29);
  --btn-hover-txt: #cccccc;
}

html[data-theme="sunrise"] {
  --primary-bg: hsl(248 21 80);
  --primary-txt: #1a1a1a;

  --secondary-bg: hsl(246, 12%, 70%);
  --orange: #9a5500;
  --red: #a32919;
  --green: #20763d;

  --btn-color: hsl(31 84 32);
  --btn-hover-txt: #cccccc;
}

html[data-theme="dark"] {
  --primary-bg: hsl(316 65 10);
  --primary-txt: #cccccc;

  --secondary-bg: hsl(315, 64%, 14%);
  --orange: #c97918;
  --red: #c94f3f;
  --green: #74b577;

  --btn-color: hsl(320 58 79);
  --btn-hover-txt: #1a1a1a;
}

html[data-theme="cranberry"] {
  --primary-bg: hsl(340 9 10);
  --primary-txt: #cccccc;

  --secondary-bg: hsl(338, 11%, 15%);
  --orange: #c97918;
  --red: #c94f3f;
  --green: #74b577;

  --btn-color: hsl(329 36 41);
  --btn-hover-txt: #1a1a1a;
}

html[data-theme="pine"] {
  --primary-bg: hsl(173 53 10);
  --primary-txt: #cccccc;

  --secondary-bg: hsl(174, 52%, 15%);
  --orange: #c97918;
  --red: #c94f3f;
  --green: #74b577;

  --btn-color: hsl(113 6 47);
  --btn-hover-txt: #1a1a1a;
}

html[data-theme="winterfresh"] {
  --primary-bg: hsl(203 42 10);
  --primary-txt: #cccccc;

  --secondary-bg: hsl(202, 43%, 15%);
  --orange: #c97918;
  --red: #c94f3f;
  --green: #74b577;

  --btn-color: hsl(189 39 68);
  --btn-hover-txt: #1a1a1a;
}

html[data-theme="coffee"] {
  --primary-bg: hsl(19 56 10);
  --primary-txt: #cccccc;

  --secondary-bg: hsl(18, 57%, 14%);
  --orange: #c97918;
  --red: #c94f3f;
  --green: #74b577;

  --btn-color: hsl(39 78 66);
  --btn-hover-txt: #1a1a1a;
}
