{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>Projects</title>
<div class="text-center m-5">
  {% call macros.unstyled_link(modal_id='project_create') %}
  {{ macros.add_icon(size=50) }}
  {% endcall %}
</div>

{% call macros.modal(modal_id='project_create') %}
{{ macros.paragraph('Create Project', class='text-center m-3', size=3) }}
{{ macros.project_create_form() }}
{% endcall %}

{% for i in projects %}
{{ macros.project_list_item(i) }}
{% endfor %}

{% endblock %}