{% macro paragraph(txt, class='', color='black', size='1') %}
<p class="{{ class }}" style="color:{{ color }}; font-size:{{ size }}em">{{ txt }}</p>
{% endmacro %}

{% macro unstyled_link(class='', color='black', newtab=false, modal_id='', href='') %}
<!--suppress HtmlUnknownAttribute -->
<a href="{{ href }}"
   class="{{ class }}"
   style="color:{{ color }}; text-decoration:none;"
   {% if newtab %}
   target="_blank"
   {% endif %}
   {% if modal_id %}
   data-target="#{{ modal_id }}"
   data-toggle="modal"
   {% endif %}
>
  {{ caller() }}
</a>
{% endmacro %}

{% macro button(txt, class='', bg_color='black', txt_color='white') %}
<button type="submit" class="btn btn-lg {{ class }}" style="color:{{ txt_color }}; background-color:{{ bg_color }}">{{ txt }}</button>
{% endmacro %}

{% macro modal(modal_id='', lg=false, class='') %}
<div class="modal {{ class }}" role="dialog" id="{{ modal_id }}">
  <div class="modal-dialog {% if lg %}modal-lg{% endif %}">
    <div class="modal-content p-3">
      {{ caller() }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro badge(txt, class='', href='', txt_color='white', bg_color='black', newtab=false, modal_id=none, size='0.75') %}
<span>
<!--suppress HtmlUnknownAttribute -->
<a class="badge {{ class }}"
   href="{{ href }}"
   style="text-decoration:none; color:{{ txt_color }}; background-color:{{ bg_color }}; font-size:{{ size }}em;"
   {% if newtab %}
   target="_blank"
   {% endif %}

   {% if modal_id %}
   data-target="#{{ modal_id }}"
   data-toggle="modal"
   {% endif %}
>
  {{ txt }}
</a>
</span>
{% endmacro %}

{% macro input(name, placeholder, class='') %}
<input type="text" class="form-control {{ class }}" placeholder="{{ placeholder }}" name="{{ name }}" autocomplete="off">
{% endmacro %}

{% macro dropdown(txt) %}
<div class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ txt }}</a>
  <div class="dropdown-menu">
    {{ caller() }}
  </div>
</div>
{% endmacro %}

{% macro brand_icon() %}
<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-code-slash" viewBox="0 0 16 16">
  <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
</svg>
{% endmacro %}

{% macro add_icon(size=20, color='green') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-plus-square" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
{% endmacro %}

{% macro update_icon(size=20, color='black') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-pen-fill" viewBox="0 0 16 16">
  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
</svg>
{% endmacro %}

{% macro delete_icon(size=20, color='red') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-x-square" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>
{% endmacro %}

{% macro github_icon(size=20, color='black') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-github" viewBox="0 0 16 16">
  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
</svg>
{% endmacro %}

{% macro project_list_item(project) %}
<div class="border rounded my-3 p-3 d-flex justify-content-between">
  {% call unstyled_link(href=url_for('read_project', id_=project.id)) %}{{ project.name }}{% endcall %}
  {{ project_options(project) }}
</div>
{% endmacro %}

{% macro project_options(project, class='') %}
<div class="{{ class }}">
  {% if project.github_url %}
  {% call unstyled_link(href=project.github_url, newtab=true, class='mx-2') %}{{ github_icon() }}{% endcall %}
  {% endif %}
  {% call unstyled_link(modal_id='todo_create_'+project.id|string, class='mx-2') %}{{ add_icon() }}{% endcall %}
  {% call unstyled_link(modal_id='project_update_'+project.id|string, class='mx-2') %}{{ update_icon() }}{% endcall %}
  {% call unstyled_link(modal_id='project_delete_'+project.id|string, class='mx-2') %}{{ delete_icon() }}{% endcall %}
</div>

{% call modal(modal_id='todo_create_'+project.id|string) %}
{{ paragraph('Add TODO', class='text-center m-3', size=3) }}
{{ todo_create_form(project) }}
{% endcall %}

{% call modal(modal_id='project_update_'+project.id|string) %}
{{ paragraph('Update Project', class='text-center m-3', size=3) }}
{{ project_update_form(project) }}
{% endcall %}

{% call modal(modal_id='project_delete_'+project.id|string, class='text-center') %}
{{ paragraph('Delete Project?', class='m-3', size=3) }}
{% call unstyled_link(color='white', class='btn btn-lg btn-danger', href=url_for('delete_project', id_=project.id)) %}Delete{% endcall %}
{% endcall %}

{% endmacro %}

{% macro project_create_form(class='') %}
<form class="form-group {{ class }}" method="post" action="{{ url_for('create_project') }}">
  <input autocomplete="off" class="form-control mb-2" placeholder="Name" name="project_name">
  <input type="date" class="form-control mb-2" name="start_date">
  <textarea rows="5" autocomplete="off" class="form-control mb-2" placeholder="Description" name="descrip"></textarea>
  <select class="form-control mb-2" name="status">
    <option value="Active">Active</option>
    <option value="Released (Archived)">Released (Archived)</option>
    <option value="Released (Maintained)">Released (Maintained)</option>
    <option value="Planning">Planning</option>
    <option value="Paused">Paused</option>
  </select>
  <input autocomplete="off" class="form-control mb-2" placeholder="GitHub URL" name="github_url">
  <input autocomplete="off" class="form-control mb-2" placeholder="Tools" name="tools">
  {{ button('Create Project', class='w-100') }}
</form>
{% endmacro %}

{% macro project_update_form(project, class='') %}
<form class="form-group {{ class }}" method="post" action="{{ url_for('update_project', id_=project.id) }}">
  <input autocomplete="off" class="form-control mb-2" placeholder="Name" name="project_name" value="{{ project.name }}">
  <input type="date" class="form-control mb-2" name="start_date" value="{{ project.start_date }}">
  <textarea rows="5" autocomplete="off" class="form-control mb-2" placeholder="Description" name="descrip">{{ project.descrip }}</textarea>
  <input autocomplete="off" class="form-control mb-2" placeholder="Status" name="status" value="{{ project.status }}">
  <input autocomplete="off" class="form-control mb-2" placeholder="GitHub URL" name="github_url" value="{{ project.github_url }}">
  <input autocomplete="off" class="form-control mb-2" placeholder="Tools" name="tools" value="{{ project.tools }}">
  {{ button('Update Project', class='w-100') }}
</form>
{% endmacro %}

{% macro todo_create_form(project) %}
<form method="post" action="{{ url_for('create_todo', id_=project.id) }}">
  <input autocomplete="off" name="task" class="form-control mb-2" placeholder="TODO">
  {{ button('Add TODO', class='w-100') }}
</form>
{% endmacro %}