{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block body %}
<title>Project | {{ project.name }}</title>
<div class="text-center my-5">
  {{ macros.paragraph(project.name, size=3) }}
  {{ macros.project_options(project) }}
</div>

{{ macros.paragraph(project.descrip) }}
{{ macros.paragraph(project.start_date.strftime('%B %-d, %Y')) }}
{{ macros.paragraph(project.status) }}

{{ macros.paragraph('Tools Used', size=1.75) }}
{% for i in project.tools.split(',') %}
{{ macros.paragraph(i, class='text-capitalize font-italic') }}
{% endfor %}

{% if project.todos %}
<form method="post" action="{{ url_for('update_todos', id_=project.id) }}">
  {{ macros.paragraph('TODO', size=1.75) }}
  {% for i in project.todos %}
  <div class="form-check">
    {% call macros.link(href=url_for('delete_todo', id_=i.id), color='red', class='mr-2') %}X{% endcall %}
    <!--suppress HtmlUnknownAttribute -->
    <input name="done" type="checkbox" value="{{ i.done }}" {% if i.done %}checked{% endif %}>
    <label>{{ i.item }}</label>
  </div>
  {% endfor %}
  {{ macros.button('Save') }}
</form>
{% endif %}

{% endblock %}